:root{
  --background-color: #333333;
  --quarter-color: #7ca2fe;
  --quarter-color-hover: #ffffff;
  --circle-border: #eeeeee;
  --search-circle-bg: #ffffff;
  --search-circle-color: #333333;
}

body,html{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: var(--background-color);
}

.main-circle{
  display: flex;
  justify-content: center;
}

/* ------------------------------------------------------- */


.four-parts-grid{
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-columns: 15vw 15vw;
}

.four-parts-grid-content{
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--quarter-color);
  transition: 0.15s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: rotateRing 0.5s ease-out;
}

.four-parts-grid-content:hover, .open .four-parts-grid-content{
  transform: scale(1.5);
  z-index: 200;
  position: relative;
  background-color: var(--quarter-color-hover);
  border: none !important;
}

#tab1 .four-parts-grid-content{
  transform-origin: bottom right;
  border-top-left-radius: 100%;
  border-right: 1px solid var(--circle-border);
  border-bottom: 1px solid var(--circle-border);
}
#tab2 .four-parts-grid-content{
  transform-origin: bottom left;
  border-top-right-radius: 100%;
  border-left: 1px solid var(--circle-border);
  border-bottom: 1px solid var(--circle-border);
}
#tab3 .four-parts-grid-content{
  transform-origin: top right;
  border-bottom-left-radius: 100%;
  border-right: 1px solid var(--circle-border);
  border-top: 1px solid var(--circle-border);
}
#tab4 .four-parts-grid-content{
  transform-origin: top left;
  border-bottom-right-radius: 100%;
  border-left: 1px solid var(--circle-border);
  border-top: 1px solid var(--circle-border);
}

.four-parts-grid-content .content-items{
  transform: rotate(45deg);
  display: flex;
  justify-content: space-around;
  width: 80%;
}
#tab1 .four-parts-grid-content .content-items, #tab4 .four-parts-grid-content .content-items{
  transform: rotate(-45deg);
}

.four-parts-grid-content .item{
  transform: scale(0);
}
.four-parts-grid-content .item, .four-parts-grid-content .item img{
  width: 1.5vw;
  height: 1.5vw;
  transition: 0.25s;
  font-size: 0.8em;
}
.four-parts-grid-content:hover .item, .open .four-parts-grid-content .item{
  transform: scale(1);
}
.four-parts-grid-content .item:hover, .four-parts-grid-content .item:focus{
  filter: drop-shadow(1px 1px 1px #080827);
  transform: scale(1.2);
  outline: 0;
}

.search-circle{
  width: 25vw;
  height: 25vw;
  background: var(--search-circle-bg);
  border-radius: 50%;
  border: 1px solid #eee;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  position: absolute;
}
.search-circle form{
  width: 100%;
  margin: auto;
  align-self: center;
  display: flex;
  justify-content: center;
}
.search-circle input{
  max-height: 3em;
  height: 3em;
  align-self: center;
  width: 0;
  opacity: 0;
  font-size: 1em;
  padding: 0px 10px;
  animation: expand 0.25s ease-in 0.5s 1 normal forwards;
}

.search-circle .time{
  text-align: center;
  margin-top: 15%;
  margin-bottom: -30%;
  font-family: sans-serif;
  color: var(--search-circle-color);
  font-family: sans-serif;
}

.search-circle .time #hour{
  font-size: 2em;
}

.fixed-white-circle{
  position: fixed;
  color: var(--search-circle-color);
  cursor: pointer;
  background-color: var(--search-circle-bg);
  border-radius: 50%;
  padding: 0.75vw;
  width: 1vw;
  height: 1vw;
  display: flex !important;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.1s;
}
.fixed-white-circle::before{
  text-align: center;
  font-size: 1.2em;
  align-self: center;
}

#help{
  right: 2vw;
  bottom: 2vw;
}

#connection{
  right: 6vw;
  bottom: 2vw;
}
#connection.fa-spinner{
  animation: rotateRing 1s linear infinite;
}

#keyboardMode {
  left: 2vw;
  bottom: 2vw;
  opacity: 0;
}

#keyboardMode.show{
  opacity: 1;
}

#settings {
  right: 10vw;
  bottom: 2vw;
}

#updates{
  right: 14vw;
  bottom: 2vw;
  display: none !important;
}

#updates.available{
  display: flex !important;
}

#help:hover, #settings:hover, #updates:hover{
  transform: scale(1.1);
}

/* ---------- HELP DIALOG  ---------- */
#helpDialog, #updatesDialog{
  position: fixed;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 400;
  background-color: rgba(45, 45, 45, 0.9);
  transition: 0.5s;
  font-family: sans-serif;
  overflow: hidden;
}

#helpDialog.open, #updatesDialog.open{
  right: 0;
}
#helpDialog .helpContent, #updatesDialog .updatesContent{
  width: 50%;
  height: 50%;
  background-color: white;
  padding: 1em;
  color: #111;
  display: block;
  border-radius: 5px;
  overflow: hidden;
}
#helpDialog .helpContent span{
  background-color: #eee;
  border-radius: 5px;
  color: black;
  padding: 0.5em 0.2em;
  border: 1px solid #ccc;
  font-family: monospace;
  display: inline-block;
  text-align: center;
}

#updateMessage{
  font-style: italic;
  color: #666;
}

/*---- SETTINGS DIALOG ----*/

#settingsDialog{
  position: fixed;
  left: -30vw;
  width: 30vw;
  height: 100vh;
  transition: 0.5s;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 400;
}
#settingsDialog .content{
  width: 30vw;
  height: 100%;
  left: 0;
  background-color: rgba(45, 45, 45, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#settingsDialog.open{
  left: 0;
}
#settingsDialog p, #settingsDialog #jsonconfig{
  width: 80%;
  color: #fff;
}
#settingsDialog label{
  color: #fff;
  width: 80%;
  display: inline-block;
}
#settingsDialog input[type=color]{
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0.3em;
  cursor: pointer;
  border: none;
  background: none;
}
#settingsDialog #in-background-img{
  width: 100%;
}
#settingsDialog #jsonconfig{
  color: #333333;
  font-family: monospace;
  margin-left: 1em;
}
#settings-close-button{
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  color: #666;
  font-family: sans-serif;
  font-size: 2em;
  cursor: pointer;
}

#errorConfigDialog{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #333;
  justify-content: center;
  align-items: center;
  display: none;
}
#errorConfigDialog > div{
  width: 30vw;
  background: white;
  height: 30vw;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


/* --------------------------------------------------------------------------- */

@keyframes expand {
  25%{
    opacity: 1;
  }
  75%{
    width: 70%;
    opacity: 1;
  }
  100%{
    width: 80%;
    opacity: 1;
  }
}
@keyframes rotateRing {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
